.details {
    display: block;
    min-height: 100vh;
    background: #dbdbdb;
    padding: 3rem 0;


    .detail-container {
        margin: auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 90rem;

        .image {
            width: 200rem;

            img {
                width: 100%;
            }
        }

        .content {
            .drinkName {
                font-size: 2.3rem;
            }

            .menu {
                display: flex;
                align-items: center;
                padding: .5rem 0;
                font-size: 1.4rem;
                text-transform: capitalize;
                font-weight: 550;

                p {
                    margin-left: .3rem;
                    font-weight: normal;
                }
            }

            .price {
                font-size: 1.7rem;
                display: flex;
                padding: .5rem 0;

                p {
                    font-size: 1.7rem;
                    color: #c1452f;
                    font-weight: 600;
                    margin-left: .3rem;
                }
            }

            .describle {
                font-size: 1.4rem;
            }

            .quantity-selector {
                margin-top: 1.5rem;
                display: flex;
                width: 5rem;
                border-radius: .5rem;
                align-items: center;
                background: #dbdbdb;

                .quantity-btn {
                    padding: 0.5rem;
                    font-size: 1.2rem;
                    border: none;
                    background: #dbdbdb;

                    cursor: pointer;
                }

                .quantity-input {
                    width: 3rem;
                    background: #dbdbdb;

                    font-size: 1.7rem;
                    padding: 0.5rem;
                    text-align: center;
                    border: none;
                }

                .decrease-btn {
                    padding: .6rem 1.5rem;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    font-size: 1.7rem;
                }

                .increase-btn {
                    padding: .6rem 1.5rem;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-size: 1.7rem;
                }
            }

            .btn-addToCart {
                margin-top: 1rem;
                padding: .7rem 2.5rem;
                border-radius: 1rem;
                background: #27ae60;
                color: #fff;
                font-weight: 550;
                cursor: pointer;

                &:hover {
                    transform: scale(.98);
                    box-shadow: 0 .5rem 1rem rgba(0,0,0, .3);
                }
            }
        }
    }

    .container-list-product {
        margin-top: 5rem;
        padding: 0 5%;

        .box {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding: 2rem;
            background: #fff;
            border-radius: 1rem;

            .image {
                width: 10rem;
                height: 10rem;
                object-fit: cover;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .info-drink {
                font-size: 1.6rem;

                span {
                    display: flex;
                    align-items: center;

                    p {
                        padding-left: .3rem;
                    }
                }
            }
        }
    }
}