.wrapper-register {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .wrapper-container {
        margin: auto;
        padding: 2rem;
        max-width: 70rem;
        width: 100%;
        border-radius: 1rem;

        form {
            h3 {
                text-align: center;
                font-size: 2.3rem;
            }

            #error-message {
                display: none;
            }
            
            #error-message.active {
                text-align: center;
                display: block;
                padding-top: .5rem;
                font-size: 1.4rem;color: red;
            }
            .box {
                margin: 1.5rem 0;

                span {
                    display: block;
                    font-size: 1.5rem;
                    padding-bottom: .5rem;
                }
    
                input {
                    padding: .7rem 1.5rem;
                    border: .1rem solid #dbdbdb;
                    width: 100%;
                    border-radius: .5rem;
                    font-size: 16px;

                    &::placeholder {
                        font-size: 1.4rem;
                    }
                }

                
            }

            
            
            

            .controller-btn {
                a {
                    font-size: 1.6rem;
                    color: red;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .btn-submitRegister {
                    display: inline-block;
                    float: right;
                    cursor: pointer;
                    background: #4531f2;
                    color: #fff;
                    padding: .7rem 3rem;
                    border-radius: .5rem;
                }
            }
        }
    }
}