.cart {
    .cart-container {
        min-height: 100vh;

        .header-cart {
            min-height: 50vh;
            background: #171f3a;
            position: relative;


            .status {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100rem;
                max-width: 95%;
                text-align: center;

                h3 {
                    color: #fff;
                    font-size: 5rem;
                    text-transform: uppercase;
                    margin-bottom: 1.5rem;
                }


                .status-action {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .shop,
                    .cart,
                    .checkout {

                        i {
                            color: #fff;
                            padding: 2rem;
                            font-size: 1.8rem;
                            background: #08C451;
                            border-radius: 5rem;
                            position: relative;
                            z-index: 1;

                            &:nth-child(2) {
                                font-size: 4.2rem;
                                padding: 2.5rem;
                                z-index: 99;
                            }

                        }
                    }

                    .shop {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 52%;
                            width: 45rem;
                            height: .3rem;
                            color: #fff;
                            background: #08C451;
                        }
                    }

                    .checkout {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            top: 50%;
                            left: -685%;
                            width: 45rem;
                            height: 0.3rem;
                            background: #fff;
                        }
                    }
                }
            }


        }

        .content {
            position: absolute;
            bottom: -52%;
            left: 50%;
            transform: translate(-50%, -50%);

            .container-items {
                display: flex;
                align-items: center;
                gap: 2rem;

                display: flex;

                .list-items {
                    padding: 2rem;
                    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                    border-radius: 1rem;

                    table {
                        width: 100%;
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        border: 1px solid #dddddd;
                        text-align: left;
                        border: none;
                        font-size: 1.4rem;

                        padding: 2rem;
                    }

                    th {
                        font-size: 1.4rem;
                        background-color: #f2f2f2;
                    }
                }

                .value-items {
                    padding: 2rem;
                    border-radius: 1rem;
                }
            }
        }


        .content {
            position: relative;

            .container-items {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -25%);
                max-width: 100rem;
                width: 95%;
                display: flex;

                .list-items {
                    flex: 1 1 48rem;
                    background: #fff;
                    width: 100%;
                    height: 27rem;
                    border-radius: 1rem;
                    overflow: hidden;
                    overflow: auto;

                    table {
                        max-width: 100%;
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        border: 1px solid #dddddd;
                        text-align: left;
                        border: none;
                        font-size: 1.4rem;
                        padding: 8px;

                        img {
                            width: 5rem;
                            border-radius: 5rem;
                        }
                    }

                    th {
                        font-size: 1.4rem;
                        background-color: #f2f2f2;
                    }

                    .btn-update {
                        float: right;
                        background: #4b3dde;
                        padding: .7rem 2rem;
                        font-size: 1.5rem;
                        border-radius: 1rem;
                        color: #fff;
                    }
                }

                .value-items {
                    flex: 1 1 6rem;
                    background: #fff;
                    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                    height: 27rem;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;
                    padding: 2rem;

                    h3 {
                        font-size: 2rem;
                    }

                    .value {
                        padding: 1rem 0;
                        position: relative;
                        height: 100%;

                        .subtotal,
                        .total {
                            display: flex;
                            align-items: center;
                            padding: 1rem ;

                            &:nth-child(1) {
                                width: 100%;
                                border-bottom: .1rem dashed #dbdbdb;
                            }

                            span {
                                font-size: 1.4rem;
                                text-transform: capitalize;
                               
                            }

                            p {
                                font-size: 1.4rem;
                                padding: 0 .7rem;
                            }
                        }

                        .btn-checkout {
                            position: absolute;
                            bottom: 3rem;
                            right: 0;
                            background: #4b3dde;
                            padding: 0.5rem 2rem;
                            font-size: 1.5rem;
                            border-radius: 1rem;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}