@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 2rem 10%;
  justify-content: space-between;
  z-index: 99;
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #27ae60;
  font-weight: 550;
}
.header .navbar a {
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  background: #27ae60;
  color: #fff;
  border-radius: 1rem;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons div,
.header .icons a {
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}
.header .icons div:hover,
.header .icons a:hover {
  background: #27ae60;
  color: #fff;
  border-radius: 1rem;
}

.home {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
.home .image {
  margin-top: 5rem;
  height: 60vh;
  overflow: hidden;
  border-radius: 1rem;
  background-position: center;
}
.home .image .home-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .image .content {
  position: absolute;
  top: 75%;
  left: 25%;
  width: 70rem;
  transform: translate(-30%, -50%);
}
.home .image .content span {
  font-size: 2rem;
  color: #27ae60;
}
.home .image .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}
.home .image .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.home .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

.product .product-container .banner {
  display: flex;
  gap: 2rem;
}
.product .product-container .banner .image {
  flex: 1 1 32rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 35rem;
  overflow: hidden;
}
.product .product-container .banner .image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product-container .banner .product-list {
  flex: 1 1 32rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.product .product-container .banner .product-list .box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.product .product-container .banner .product-list .box .image-product {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.product .product-container .banner .product-list .box .image-product img {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product-container .banner .product-list .box .content {
  padding: 2rem;
}
.product .product-container .banner .product-list .box .content span {
  display: block;
  font-size: 1.5rem;
}
.product .product-container .banner .product-list .box .content span:nth-child(1) {
  font-weight: 550;
}
.product .product-container .banner .product-list .box .content span:nth-child(2) {
  color: var(--orange);
  font-weight: 600;
}
.product .product-container .swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding: 2rem 0;
}
.product .product-container .list-CoffeContainer {
  margin-top: 2rem;
}
.product .product-container .list-CoffeContainer .box {
  position: relative;
  border-radius: 1rem;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.product .product-container .list-CoffeContainer .box .image-product img {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product-container .list-CoffeContainer .box .content {
  padding: 2rem;
}
.product .product-container .list-CoffeContainer .box .content span {
  display: block;
  font-size: 1.5rem;
}
.product .product-container .list-CoffeContainer .box .content span:nth-child(1) {
  font-weight: 550;
}
.product .product-container .list-CoffeContainer .box .content span:nth-child(2) {
  color: var(--orange);
  font-weight: 600;
}
.product .product-container .list-CoffeContainer .box .content .btn-addToCart {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--orange);
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
.product .product-container .list-CoffeContainer .box .content .btn-addToCart:hover {
  background: #27ae60;
}

.blogs {
  margin-top: 2rem;
}
.blogs .blog-container .image-blogs {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.blogs .blog-container .image-blogs .image {
  max-width: 50rem;
  height: 50rem;
  overflow: hidden;
  z-index: 1;
  border-radius: 1rem;
}
.blogs .blog-container .image-blogs .image img {
  width: 100%;
}
.blogs .blog-container .image-blogs .content {
  width: 100%;
  text-align: center;
}
.blogs .blog-container .image-blogs .content h2 {
  margin: auto;
  font-size: 4vw;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.blogs .blog-container .image-blogs .content span {
  margin: auto;
  font-size: 2rem;
}
.blogs .blog-container .image-blogs .content p {
  margin: auto;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.blogs .blog-container .image-blogs .content.animate {
  animation: identifier linear 0.5s forwards;
}

@keyframes identifier {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.footer {
  padding: 4rem 10%;
  background: #333;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 2rem;
}
.footer .footer-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
}
.footer .footer-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: #fff;
}
.footer .footer-container .box a p {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: #fff;
}/*# sourceMappingURL=home.css.map */